div {
    position: relative;
    display: inline;
}
.imtip {
  position: absolute;
  bottom: 50;
  right: 50;
}
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
  }